# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
mt.log.16
mt.log.17
mt.log.18
mt.log.19
mt.log.2
mt.log.20
mt.log.21
mt.log.23
mt.log.24
mt.log.25
mt.log.26
mt.log.27
mt.log.28
mt.log.29
mt.log.3
mt.log.30
mt.log.31
mt.log.32
mt.log.33
mt.log.34
mt.log.35
mt.log.36
mt.log.37
mt.log.38
mt.log.39
mt.log.4
mt.log.40
mt.log.41
mt.log.42
mt.log.43
mt.log.44
mt.log.45
mt.log.46
mt.log.47
mt.log.48
mt.log.49
mt.log.5
mt.log.50
mt.log.51
mt.log.52
mt.log.53
mt.log.54
mt.log.55
mt.log.56
mt.log.57
mt.log.58
mt.log.59
mt.log.6
mt.log.60
mt.log.61
mt.log.62
mt.log.63
mt.log.64
mt.log.65
mt.log.66
mt.log.67
mt.log.68
mt.log.69
mt.log.7
mt.log.70
mt.log.71
mt.log.72
mt.log.8
mt.log.9
mt.log.10
mt.log.11
mt.log.12
mt.log.13
mt.log.73
mt.log.74
mt.log.75
mt.log.76
mt.log.77
mt.log.78
