# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
mt.log.16
mt.log.17
mt.log.18
mt.log.19
mt.log.2
mt.log.20
mt.log.21
mt.log.23
mt.log.24
mt.log.25
mt.log.26
mt.log.27
mt.log.28
mt.log.29
mt.log.3
mt.log.30
mt.log.31
mt.log.32
mt.log.33
mt.log.34
mt.log.35
mt.log.36
mt.log.37
mt.log.38
mt.log.39
mt.log.4
mt.log.40
mt.log.41
mt.log.42
mt.log.43
mt.log.44
mt.log.45
mt.log.46
mt.log.47
mt.log.48
mt.log.49
mt.log.5
mt.log.50
mt.log.51
mt.log.52
mt.log.53
mt.log.54
mt.log.55
mt.log.56
mt.log.57
mt.log.58
mt.log.59
mt.log.6
mt.log.60
mt.log.61
mt.log.62
mt.log.63
mt.log.64
mt.log.65
mt.log.66
mt.log.67
mt.log.68
mt.log.69
mt.log.7
mt.log.70
mt.log.71
mt.log.72
mt.log.8
mt.log.9
mt.log.10
mt.log.11
mt.log.12
mt.log.13
mt.log.73
mt.log.74
mt.log.75
mt.log.76
mt.log.77
mt.log.78
mt.log.1.lck
mt.log.10.lck
mt.log.100
mt.log.11.lck
mt.log.12.lck
mt.log.13.lck
mt.log.14.lck
mt.log.15.lck
mt.log.17.lck
mt.log.19.lck
mt.log.2.lck
mt.log.21.lck
mt.log.23.lck
mt.log.25.lck
mt.log.27.lck
mt.log.29.lck
mt.log.3.lck
mt.log.31.lck
mt.log.33.lck
mt.log.35.lck
mt.log.37.lck
mt.log.39.lck
mt.log.4.lck
mt.log.41.lck
mt.log.43.lck
mt.log.45.lck
mt.log.47.lck
mt.log.49.lck
mt.log.5.lck
mt.log.51.lck
mt.log.53.lck
mt.log.55.lck
mt.log.57.lck
mt.log.59.lck
mt.log.6.lck
mt.log.61.lck
mt.log.63.lck
mt.log.65.lck
mt.log.66.lck
mt.log.67.lck
mt.log.68.lck
mt.log.69.lck
mt.log.7.lck
mt.log.70.lck
mt.log.71.lck
mt.log.73.lck
mt.log.75.lck
mt.log.76.lck
mt.log.77.lck
mt.log.78.lck
mt.log.79
mt.log.79.lck
mt.log.8.lck
mt.log.80
mt.log.80.lck
mt.log.81
mt.log.81.lck
mt.log.82
mt.log.82.lck
mt.log.83
mt.log.83.lck
mt.log.84
mt.log.84.lck
mt.log.85
mt.log.85.lck
mt.log.86
mt.log.86.lck
mt.log.87
mt.log.87.lck
mt.log.88
mt.log.88.lck
mt.log.89
mt.log.89.lck
mt.log.9.lck
mt.log.90
mt.log.90.lck
mt.log.91
mt.log.91.lck
mt.log.92
mt.log.92.lck
mt.log.93
mt.log.93.lck
mt.log.94
mt.log.94.lck
mt.log.95
mt.log.95.lck
mt.log.96
mt.log.96.lck
mt.log.97
mt.log.97.lck
mt.log.98
mt.log.99
mt.log.99.lck
mt.log.lck
mt.log.50.lck
mt.log.52.lck
mt.log.54.lck
mt.log.60.lck
mt.log.62.lck
mt.log.64.lck
mt.log.72.lck
mt.log.74.lck
